PUBLIC_WEB_URL=http://localhost:30000
PUBLIC_APP_URL=http://localhost:30004
PUBLIC_API_GATEWAY_URL=http://localhost:50000
PUBLIC_AUTH_URL=http://localhost:35433
PUBLIC_WEB_AUTH_URL=http://localhost:30000/login
CORS_ALLOWED_ORIGINS=http://localhost:30000,http://localhost:30004
