[defaults]
host_key_checking = True
retry_files_enabled = False
interpreter_python = /usr/bin/python3
display_ok_hosts = False
display_skipped_hosts = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
