cd {{ deploy_path }} && docker compose -f {{ deploy_path }}/docker-compose.yml -f {{ deploy_path }}/docker-compose.secrets.generated.yml --profile infra --profile backup run --rm -e BACKUP_RUN_ONCE=1 -e BACKUP_POSTGRES_HOST={{ postgres_backup_r2_postgres_host | quote }} -e BACKUP_POSTGRES_PORT={{ postgres_backup_r2_postgres_port | quote }} -e BACKUP_POSTGRES_USER={{ postgres_backup_r2_postgres_user | quote }} -e R2_PREFIX={{ postgres_backup_r2_prefix | quote }} -e R2_REGION={{ postgres_backup_r2_region | quote }} postgres-backup-r2 >> {{ postgres_backup_r2_log_file }} 2>&1
