PUBLIC_WEB_URL={{ public_web_url }}
PUBLIC_APP_URL={{ public_app_url }}
PUBLIC_API_GATEWAY_URL={{ public_api_gateway_url }}
PUBLIC_AUTH_URL={{ public_auth_url }}
PUBLIC_WEB_AUTH_URL={{ public_web_auth_url }}
CORS_ALLOWED_ORIGINS={{ cors_allowed_origins }}
