module github.com/bastiencouder/microservices-go/services/__SERVICE_SLUG__

go 1.25.7

require (
	github.com/bastiencouder/microservices-go/contracts v0.0.0
	github.com/jackc/pgx/v5 v5.7.6
)

replace github.com/bastiencouder/microservices-go/contracts => ../../contracts
